{% extends "blog/base.html" %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">{{ object.title }}</li>
    <li class="list-group-item">{{ object.author }}</li>
    <li class="list-group-item">{{ object.published_date }}</li>
    <li class="list-group-item">{{ object.text }}</li>
    <li class="list-group-item">
        <a href="{% url 'blog:update' object.id %}" class="btn btn-outline-success">edit</a>
        <a href="{% url 'blog:delete' object.id %}" class="btn btn-outline-danger">delete</a>
        <a href="{% url 'blog:index' %}" class="btn btn-outline-dark">return</a>
    </li>
</ul>
{% endblock %}
