{% extends "blog/base.html" %}

{% block content %}
<div class="container">
    <div class = "row">
        <div class = "col">
            <table class="table">
                <tbody>
                    {% for post in object_list %}
                    <tr>
                        <td>{{ post }}</td>
                        <td><a href="{% url 'blog:detail' post.id %}" class="btn btn-outline-secondary">view</a></td>
                        <td><a href="{% url 'blog:update' post.id %}" class="btn btn-outline-success">edit</a></td>
                        <td><a href="{% url 'blog:delete' post.id %}" class="btn btn-outline-danger">delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}