<nav class="navbar sticky-top navbar-expand-lg bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog:index' %}">Home</a>
        <a href="{% url 'blog:create' %}" class="btn btn-outline-primary">create</a>
        <a href="{% url 'blog:descending' %}" class="btn btn-outline-secondary">Sort by descending publish date</a>
        <a href="{% url 'blog:today' %}" class="btn btn-outline-secondary">Today</a>
        <a href="{% url 'blog:today_descending' %}" class="btn btn-outline-secondary">Today descending</a>
    </div>
</nav>